exportPattern("^[[:alpha:]]+")
import(ggplot2)
import(tibble)
import(dplyr)
import(tidyr)
import(forcats)
import(hetGP)
importFrom(purrr,reduce)
importFrom(purrr,pmap_dbl)
importFrom(purrr,compose)
importFrom(purrr,partial)
importFrom(usedist,dist_make)
importFrom(factoextra,fviz_nbclust)
importFrom(factoextra,hcut)
importFrom(akima,interp)
importFrom(plotly,plot_ly)
importFrom(plotly,add_trace)
importFrom(plotly,add_surface)
importFrom(plotly,layout)
importFrom(RColorBrewer,brewer.pal)
importFrom(grDevices,colorRampPalette)
importFrom(grDevices,topo.colors)
importFrom(doSNOW,registerDoSNOW)
importFrom(gplots,col2hex)
