exportPattern("^[[:alpha:]]+")
import(ggplot2)
import(tibble)
import(dplyr)
import(tidyr)
import(forcats)
import(usedist)
import(factoextra)
import(purrr)
import(akima)
import(plotly)
import(RColorBrewer)
import(gplots)
